@tailwind base;
@tailwind components;
@tailwind utilities;



/* since using rems in the entire project,could easily change the root 
font size here, to make the page responsive
 */
html{
  font-size: 16px;
}


.noScrollBar::-webkit-scrollbar {
  /* background: transparent; */
  display: none;
}
/* the above code removes the the ugly scrollbar, but the functionality still remains
Just give the className to the component and that compnent will not have the scrollbar
*/

/* ::-webkit-scrollbar-thumb{
    background: lightgray;
    border-radius: 10px;
} */
